<div class="flex-fill w-100">
  <div class="row">
    <div class="d-none d-xl-flex col-xl-2 h-1"></div>

    <div class="col-12 col-xl-8">
      <div class="row" style="cursor:pointer;margin-top: 10px;">
        <div class="col-5" style="height:150px; width:150px;">
                   @if (restaurant()?.image) {
    <img
      [src]="restaurant()?.image"
      class="img-fluid"
     style="height:100%; width:100%; object-fit:cover;"
      alt=""
    />
  } @else {
    <div   style="height:100%; width:100%; background-color: grey;border-radius: 5px;"></div>
  }
        </div>
        <div class="col-7">
          @if (restaurant() !=null) {

        <h2>{{
          restaurant()?.name
          }}</h2>
      }
    <div class="info-item d-flex align-items-start">
  <i class="fa-solid fa-location-dot info-icon"></i>
  <div class="info-address">
    {{ resultsAdress() }}
  </div>
</div>


        </div>
      </div>

      <div class="row" style="border-bottom:1px solid grey;">
          <div class="col-12 col-sm-6 justify-content-start align-items-center">
            <div class="d-flex align-items-center justify-content-start " style="height: 40px;">  
         
                             <div class="d-flex" style="height:40px"> 
                              <h4 class="d-flex star-container">{{ratingresult().overallrating}}</h4></div>
              
              
             @for (_ of [].constructor(totalStars); track $index) {
                <div class="star-wrapper" 
                     [ngStyle]="{
                       position:'relative', width:'25px', height:'30px', display:'flex'
                     }">
                  <div [ngStyle]="{
                        color:'lightgray', fontSize:'30px', lineHeight:'1',
                        position:'absolute', top:'0', left:'0'
                      }">★</div>
                  <div [ngStyle]="{
                        color:'red', fontSize:'30px', lineHeight:'1',
                        position:'absolute', top:'0', left:'0',
                        width:getStarFill($index)+'%', overflow:'hidden', whiteSpace:'nowrap'
                      }">★</div>
                </div>
              }
            </div>

            <div class="row">
              @for( item of ratings ;track $index) {
                <div class="col-3 d-flex flex-column justify-content-start"
                     [ngStyle]="{'border-right': item === ratings[ratings.length-1] ? 'none' : '1px solid grey'}">
                  <h5 class="ms-1">{{item.score}}</h5>
                  <span>{{item.label}}</span>
                </div>
              }
            </div>
          </div>

        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-end">
  @for (bar of ratingBars(); track bar.score) {
    <div class="rating-row">
      <span class="score">{{ bar.score }}</span>
      <div class="track">
        <div class="fill" [style.width]="bar.width"></div>
      </div>
    </div>
  }
</div>

        </div>

       <div class="d-flex justify-content-between"> <h5>{{resultsReviews().length}} review</h5>
<div class="sort-wrapper">

  <select id="sort" (change)="onSortChange($event)">
    <option value="recent">Most recent</option>
    <option value="high">Highest rating</option>
    <option value="low">Lowest rating</option>
  </select>
</div></div>

 @for (item of sortedCommands(); track item.review.id) {
  <div class="d-flex flex-column mb-3">

    <div class="d-flex">
@if(item.user.name!=undefined && item.user.name!=null ){
       <div
  class="d-flex align-items-center justify-content-center text-white fw-bold"
  [ngStyle]="{
    width: '50px',
    height: '50px',
    backgroundColor: getUserColor(item.user.name),
    borderRadius: '50%'
  }"
>
  {{ getFirstLetter(item.user.name) }}
</div>

}
      <span class="ms-2">{{ item.user.name }}</span>
    </div>

    <div class="d-flex align-items-center justify-content-start">
      @for (_ of [].constructor(5); track $index) {
        <div class="star-wrapper"
             [ngStyle]="{ position:'relative', width:'13px', height:'15px' }">
          <div
            [ngStyle]="{
              color: isStarActive($index, item.review.overallrating) ? 'red' : 'lightgray',
              fontSize: '15px',
              lineHeight: '1'
            }">
            ★
          </div>
        </div>
      }
    </div>

    <div>
      <span>{{ item.review.command}}</span>
    </div>

  </div>
}
    

    </div>

    <div class="d-none d-xl-flex col-xl-2 h-1"></div>
  </div>
</div>