<div class="flex-fill w-100">

  <!-- Search-->
  <form  
        class="d-flex justify-content-center align-items-center gap-3 w-100"
        style="height: 70px; position: sticky; top: 70px; z-index: 9;">
    
    <div class="text-black d-flex justify-content-between" style="width: 90%; height: 40px;">
      
      <div class="text-black d-flex align-items-center bg-white"
           style="border:1px solid grey; border-radius:4px; width: 80%; position: relative;">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text"
               name="keyword"
               class="form-control"
                 [formControl]="searchControl"
               placeholder="Location, Restaurant, or Cuisine"
               style="border: none; box-shadow: none; outline: none;"
              >

              @if(itemsSearch().length !=0){
      <div class="dropdown-container">
  @for (item of itemsSearch(); track item.displayName; let i = $index) {
    <div class="location-item" (click)="findByPick(item)" 
         [style.border-bottom]="i !== itemsSearch().length - 1 ? '0.5px solid grey' : 'none'">

      <div class="icon">
        <i class="fas fa-map-marker-alt"></i>
      </div>

      <div class="text-container">
        <div class="name">{{ item.name }}</div>
        <div class="display-name">{{ item.displayName }}</div>
      </div>

    </div>
  }
</div>
}
      </div>

      <button  class="btn btn-danger text-center" (click)=" onFind()" style="width:100px;">
        Find
      </button>

    </div>
  </form>

  <div class="bg-danger" style="height:50px; position:sticky; top:140px; border-bottom:1px solid grey; z-index: 8;"></div>

  <div class="row g-3 align-items-start w-100 m-0 p-0">

    <!-- Restaurant List -->
    @if(!isFullMap()) {
      <div class="col-10 col-md-6 col-lg-4 col-xl-7 bg-white text-black m-0 p-0" >
        <div>{{itemsRestaurant().length}}</div>
        @if(itemsRestaurant().length>0){
        @for(restaurant of itemsRestaurant();track restaurant.osmId){
<div (click)="onTap()">
        <div class="row" style="
    cursor: pointer;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
">
            <div class="col-5 col-md-4" style="height:150px;background-color: grey; border-radius: 5px;">
              @if (restaurant.image) {
    <img
      [src]="restaurant.image"
      class="img-fluid"
      style="height:100%; width:100%; object-fit:cover;"
      alt=""
    />
  } @else {
    <div   style="height:100%; width:100%; background-color: grey;"></div>
  }
            </div>
            <div class="col-7 col-md-8">
              <div>{{restaurant.name}}</div>
              <div class="d-flex align-items-center justify-content-start">
                <span class="d-flex align-items-center justify-content-start star-container">{{
getRating(restaurant)
  }}</span>

         
              @for (_ of [].constructor(totalStars); track $index){
                  <div class="d-flex align-items-center justify-content-start star-container">
                    <div class="star-wrapper" [ngStyle]="{
                      position: 'relative',
                      width: '8px',
                      height: '10px',
                      margin: '0',
                      padding: '0',
                      display: 'flex'
                    }">
                      <div [ngStyle]="{
                        color: 'lightgray',
                        fontSize: '10px',
                        lineHeight: '1',
                        position: 'absolute',
                        top: '0',
                        left: '0'
                      }">★</div>

                      <div [ngStyle]="{
                        color: 'red',
                        fontSize: '10px',
                        lineHeight: '1',
                        position: 'absolute',
                        top: '0',
                        left: '0',
                        width:getStarFill(
        $index,
       getRating(restaurant)
      ) + '%',
                        overflow: 'hidden',
                        whiteSpace: 'nowrap'
                      }">★</div>
                    </div>
                  </div>
                }
              </div>
            <div style="
    color: blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
">{{restaurant.openingHour}}</div>
            </div>
          </div>
        </div>


        }

        }@else{
<div>Không có nhà nào </div>


        }
      </div>
    }

    <!-- Map-->
    <div [ngClass]="{
          'col-12 bg-white': isFullMap(),
          'col-2 col-md-6 col-lg-8 col-xl-5 bg-white': !isFullMap()
        }" 
         style="height:452px; position: sticky; top:190px; margin:0; padding:0;">
      
      <div class="d-flex justify-content-center align-items-center"
           (click)="toggleMap()"
           style="width:25px; height:50px; position:absolute; top:45%; background-color:white; z-index:20;">
        <i class="fa-solid" [ngClass]="isFullMap() ? 'fa-chevron-right' : 'fa-chevron-left'" style="color:black;"></i>
      </div>

      <div id="map" style="height:100%; width:100%; z-index:1; margin:0; padding:0;"></div>

      <!-- Restaurant Panel -->
      @if(isClickMarker()) {
        <div class="restaurant-panel">
          <div class="panel-overlay">
            <div class="restaurant-card" (click)="goToRestaurantPage()">

              <div class="restaurant-image" [ngStyle]="{
                'background-image': restaurant?.image ? 'url(' + restaurant.image + ')' : 'none',
                'background-color': restaurant?.image ? 'transparent' : 'grey'
              }">
                <button class="close-btn" (click)="closeMarker($event)">
                  <i class="fa fa-times"></i>
                </button>
              </div>

              <div class="restaurant-name">{{ restaurant.name }}</div>

              <div class="d-flex align-items-center justify-content-start">
                <h4 class="d-flex align-items-center justify-content-start star-container">{{overallrating()}}</h4>

               @for (_ of [].constructor(totalStars); track $index) {
                  <div class="d-flex align-items-center justify-content-start star-container">
                    <div class="star-wrapper" [ngStyle]="{
                      position: 'relative',
                      width: '25px',
                      height: '30px',
                      margin: '0',
                      padding: '0',
                      display: 'flex'
                    }">
                      <div [ngStyle]="{
                        color: 'lightgray',
                        fontSize: '30px',
                        lineHeight: '1',
                        position: 'absolute',
                        top: '0',
                        left: '0'
                      }">★</div>

                      <div [ngStyle]="{
                        color: 'red',
                        fontSize: '30px',
                        lineHeight: '1',
                        position: 'absolute',
                        top: '0',
                        left: '0',
                        width: getStarFill($index) + '%',
                        overflow: 'hidden',
                        whiteSpace: 'nowrap'
                      }">★</div>
                    </div>
                  </div>
                }
              </div>

              <div class="restaurant-hours">{{ restaurant.openingHour }}</div>
              <div class="tap-to-open">Tap to open page</div>

            </div>
          </div>
        </div>
      }

    </div>
  </div>
</div>