.star-container{
    height: 40px;
    margin-bottom: 20px;
 
}
.star-wrapper {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  cursor: pointer;
}

.star-wrapper div {
  font-size: 40px;
  line-height: 1;
  transition: color 0.2s ease;
}
//Marker 
::ng-deep .custom-marker .marker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

::ng-deep .custom-marker .marker-box {
  display: flex;
  align-items: center;
  padding: 8px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.26);
}

::ng-deep .custom-marker .marker-icon {
  color: red;
  font-size: 15px;
  margin-right: 10px;
}

::ng-deep .custom-marker .marker-text {
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

::ng-deep .custom-marker .marker-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid white;
}
//Container nhà hàng
.restaurant-panel {

  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
   z-index: 10;
  .panel-overlay {
    width: 90%;
    max-width: 650px;
  }

  .restaurant-card {
    background: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .restaurant-image {
    position: relative;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;

    .close-btn {
      position: absolute;
      top: 4px;
      right: 4px;
      background: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .restaurant-name {
    font-weight: bold;
    padding: 4px;
  }

 

  .restaurant-hours {
    color: blue;
    padding: 4px;
  }

  .tap-to-open {
    text-align: center;
    color: black;
    padding: 4px;
  }
}

.star-container{
    height: 40px;
    margin-bottom: 20px;

}
.star-wrapper {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  cursor: pointer;
}

.star-wrapper div {
  font-size: 40px;
  line-height: 1;
  transition: color 0.2s ease;
}


//Result search
.dropdown-container {
  position: absolute;
  top: 50px;      
  width: 100%;
  background-color: #fff;
  border: 1px solid grey; 
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 250px;  
  overflow-y: auto;
}


.location-item {
  display: flex;
  align-items: start;  
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: red; 
  }

  .icon {
    margin-right: 10px;
    font-size: 18px;
    color: bkack; 
    flex-shrink: 0;
  }

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 600;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .display-name {
      font-size: 12px;
      color: grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
