<div class="town-section">

  <div class="header">
    <h3>Hight Rate</h3>
  </div>

  <div class="scroll-wrapper">

    <div class="scroll-row" #scrollContainer (scroll)="checkScroll()">

    
      @for (item of wards(); track $index) {

        <div class="town-card" (click)="goToWard(item)">

          <div class="image">
                   @if (item.image) {
    <img
      [src]="item.image"
      class="img-fluid"
      style="height:100%; width:100%; object-fit:cover;"
      alt=""
    />
  } @else {
    <div   style="height:100%; width:100%; background-color: grey;"></div>
  }
     
          </div>

          <div class="title">{{ item.name }}</div>

          <div class="d-flex align-items-center justify-content-start">
            <span class="d-flex align-items-center justify-content-start star-container">
            {{
getRating(item)
  }}
            </span>

            @for (i of starIndexes; track i) {
              <div class="d-flex align-items-center justify-content-start star-container">
                <div class="star-wrapper" [ngStyle]="{
                    'position': 'relative',
                    'width': '8px',
                    'height': '10px',
                    'margin': '0',
                    'padding': '0',
                    'display': 'flex'
                  }">

                  <div [ngStyle]="{
                      color: 'lightgray',
                      fontSize: '10px',
                      lineHeight: '1',
                      position: 'absolute',
                      top: '0',
                      left: '0'
                    }">★
                  </div>

                  <div [ngStyle]="{
                      color: 'red',
                      fontSize: '10px',
                      lineHeight: '1',
                      position: 'absolute',
                      top: '0',
                      left: '0',
                      width:getStarFill(
        $index,
       getRating(item)
      ) + '%',
                      overflow: 'hidden',
                      whiteSpace: 'nowrap'
                    }">★
                  </div>

                </div>
              </div>
            }
          </div>

            <div style="
    color: blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
">{{item.openingHour}}</div>
        </div>

      } 


    </div>

    @if (canScrollLeft()) {
      <button class="scroll-btn left" (click)="scrollLeft()">
        <i class="fas fa-chevron-left"></i>
      </button>
    }

    @if (canScrollRight()) {
      <button class="scroll-btn right" (click)="scrollRight()">
        <i class="fas fa-chevron-right"></i>
      </button>
    }

  </div>

</div>