.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: orange;
}
.tab-wrapper {
  height: 50px;
  background-color: red;
width: 100%;
}

.tab-item {
  cursor: pointer;
  padding: 12px 16px;
  color: #666;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.tab-item:hover {
  color: #000;
}

.tab-item.active {
  color: #d32f2f;
  font-weight: 600;
}


.tab-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d32f2f;
  border-radius: 2px;
}
